#z-style-expert{
    background: #322121;

    background: #5f2c2c;
    background: #180d0dc0;

    background: #f5a15b; 
    background: #c27e47;

    background: #8ee074;
    background: #6cac59;

    box-shadow: 0rem 0rem 0.2rem 0.02rem #000000a6;

    background: #a52222;
    
}